@import url('https://fonts.googleapis.com/css?family=DM+sans:500,700&display=sswap');

/* Colors */
$dk-blue: #1E83AE;
$blue: #3D5B94;
$light-blue: #3DACDD;
$green: #6dcd9a;
$social-size: 1.2em;
$social-width: 20%;

/* Estilos para la versión móvil (menos de 768px) */
img {
    filter: blur(0.6px);
    width: 100%;
    margin-bottom: 5px;
}

nav {
    $color-primary: #333;
    $menu-width: 250px;
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 10px;
    .bar {
        width: 25px;
        height: 3px;
        background-color: $color-primary;
        margin: 5px 0;
        transition: 0.4s;
    }
    }

    // Estilos para ocultar el input en pantallas grandes
    #menu-toggle {
        display: none;
    }

    // Estilos para el menú
    .menu {
        list-style: none;
        padding: 0;
      display: none; // Inicialmente ocultar el menú

        li {
            margin: 10px;
        }
    }

    // Mostrar el menú cuando la casilla está marcada
    #menu-toggle:checked + .menu {
        display: block;
    }
}


html, body {
    font-family: Raleway, sans-serif;
    background-color: #fff;
}

/* Estilos para tablet (768px a 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Agrega estilos para tablet si es necesario */
}

/* Estilos para pantalla grande (más de 1024px) */
@media (min-width: 1024px) {
  /* Agrega estilos para pantalla grande si es necesario */
}

/* Estilos para el footer */
footer {
    width: 100%;
    display: inline-block;
    margin: 0 0 0 0;
    height: 70px;

.copyright {
    width: 100%;
    float: left;
    background-color: #145858;
    p {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        color: white;
        font-size: 0.7em;
        text-transform: capitalize;
    }
    }

    .social {
    width: 100%;
    float: right;

    a {
        float: left;
        line-height: 70px;
        text-decoration: none;
        color: white;
        text-align: center;
        font-weight: bold;
        &:hover {
            background-color: #222;
        }
    }
    }
}

/* Estilos para los íconos sociales */
.youtu {
    background-color: #c4302b;
    font-size: $social-size;
    width: $social-width;
}

.face {
    background-color: $blue;
    font-size: $social-size;
    width: $social-width;
}

.insta {
    background-color: $light-blue;
    font-size: $social-size;
    width: $social-width;
}

.support {
    background-color: #C8E0CA;
    font-size: 0.8em;
    width: 40%;
}

/* Estilos para la barra lateral */
aside {
    div {
        p {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 5px;
        }
    }
}

